/Experiments/N-Body/bin
/Experiments/N-Body/obj
/Experiments/N-Body/.vs
/Manager/.vs
/Website/node_modules/
/Website/data.json
/Experiments/Test
/Manager/obj
/Manager/bin
*.exe
/Experiments/Cryptext/.vs
/Experiments/Cryptext/bin
/Experiments/Cryptext/obj
