/Experiments/N-Body/bin
/Experiments/N-Body/obj
/Experiments/N-Body/.vs
/Manager/.vs
/Website/node_modules/
/Website/data.json
/Experiments/Test
/Manager/obj
/bin
*.exe
/Experiments/Cryptext/.vs
/Experiments/Cryptext/bin
/Experiments/Cryptext/obj
/Manager.Linux/bin
/Manager.Linux/obj
/Manager/bin
/Manager/Manager.Avalonia/bin/Debug
/Manager/Manager.Avalonia/bin
/Manager/Manager.Avalonia/obj
/Manager/Manager.Windows/bin
/Manager/Manager.Avalonia/.vs
/Manager/Manager.Windows/.vs
/Manager/Manager.Windows/obj
/Yel0w.Lab/.vs
/Yel0w.Lab/bin/Debug
/Yel0w.Lab/bin/Debug
/Yel0w.Lab/obj
/Yel0w.Lab/AppPackages
/Yel0w.Lab/bin/Release
